<html ng-app="myApp">
    <head>
        <title>Calculator Application</title>
        <script src="angular.js"></script>
        <script src="app.js"></script>
    </head>
    <body>

        <h1>Calculator App</h1>

        <div ng-controller="calculatorCtrl as ctrl">

            <input type="text" ng-model="ctrl.input1"></input>

            <!-- <span ng-bind="ctrl.selectedOperation"></span> -->
            {{ctrl.selectedOperation}}

            <input type="text" ng-model="ctrl.input2"></input>
            <button ng-click="ctrl.result()">=</button>
            <span ng-bind="ctrl.resultValue"></span>

            <p>
                choose Operation : 
                <button ng-click="ctrl.buttonClicked('+')" >+</button>
                <button ng-click="ctrl.buttonClicked('-')" >-</button>
                <button ng-click="ctrl.buttonClicked('/')">/</button>
                <button ng-click="ctrl.buttonClicked('*')">*</button>
            </p>

       
        </div>
       
    </body>

</html>